/* Define una paleta de colores para cada tipo de Pokémon */
:root {
    --normal-color: #A8A878;
    --fire-color: #F08030;
    --water-color: #6890F0;
    --electric-color: #F8D030;
    --grass-color: #78C850;
    --ice-color: #98D8D8;
    --fighting-color: #C03028;
    --poison-color: #A040A0;
    --ground-color: #E0C068;
    --flying-color: #A890F0;
    --psychic-color: #F85888;
    --bug-color: #A8B820;
    --rock-color: #B8A038;
    --ghost-color: #705898;
    --dragon-color: #7038F8;
    --dark-color: #705848;
    --steel-color: #B8B8D0;
    --fairy-color: #EE99AC;
  }
  
  /* Aplica estilos de fondo según el tipo de Pokémon */
  .pokemon-card {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .pokemon-card span {
    display: block;
  }
  
  .pokemon-card img {
    width: 100px;
    height: 100px;
  }
  
  /* Estilos de fondo para cada tipo de Pokémon */
  .pokemon-card[type="normal"] {
    background-color: var(--normal-color);
  }
  
  .pokemon-card[type="fire"] {
    background-color: var(--fire-color);
  }
  
  .pokemon-card[type="water"] {
    background-color: var(--water-color);
  }
  
  .pokemon-card[type="electric"] {
    background-color: var(--electric-color);
  }
  
  /* Agrega más estilos de fondo para otros tipos de Pokémon aquí... */
  

/* Estilos para la barra de navegación */
#logo {
    width: 200px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centra verticalmente los elementos */
    padding: 10px 20px; /* Añade un poco de espacio alrededor del contenido del encabezado */
}

/* Estilos para el menú */
.estilo-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.estilo-menu li {
    display: inline;
    margin-right: 20px;
}

.estilo-menu a {
    text-decoration: none;
    color: #3c5aa6;
    font-size: 20px;
}

/* Estilos para el menú móvil */
#barras-menu {
    display: none;
}

/* Estilos para la sección principal */
.container {
    width: 80%;
    margin: 0 auto;
}

.main {
    margin-top: 20px;
}

#loading {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    display: none;
}

#pagination {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centra verticalmente los elementos dentro del contenedor */
}

#previous,
#next {
    cursor: pointer;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

#previous:hover,
#next:hover {
    background-color: #e0e0e0;
}

/* Alinea el botón "Next" a la derecha */
#next {
    margin-left: auto; /* Hace que el botón "Next" se alinee a la derecha */
}


/* Estilos para los artículos de los Pokémon */
#pkmnContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#pkmnContainer article {
    width: 20%;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid black;
    border-radius: 5px;
}

/* Estilos para los artículos de los Pokémon */
#pkmnContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#pkmnContainer article {
    width: 20%;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center; /* Centra el contenido dentro de cada artículo */
}

/* Estilos para el texto dentro de las tarjetas Pokémon */
#pkmnContainer article h3 {
    margin-top: 0; /* Elimina el margen superior predeterminado */
}

#pkmnContainer article div {
    margin-top: 10px; /* Agrega un pequeño espacio entre el título y el contenido */
}


@media screen and (max-width: 420px) {
    /* Estilos para dispositivos móviles */
    header {
        flex-direction: column;
        align-items: center;
    }

    #keepWalking{
        width: 50;
        height: 25;
    }

    .estilo-menu {
        display: none;
    }

    .estilo-menu li {
        display: block;
    }

    #barras-menu {
        display: block;
    }

    #menu-movil li:nth-child(-n+2) {
        border: none;
    }

    #pkmnContainer article {
        width: 100%;
    }
}
